body {
  background-color: beige;

}
header {
  background-color: rgb(220, 243, 182);
  margin-top: 0%;
  padding-top: 0%;
}

footer {
  background-color: rgb(220, 243, 182);
}

img {
  border: 1px solid rgb(204, 184, 184);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

pre {
  font-size: large;
  background-color: rgb(210, 235, 216);
}
